/WizardTestConsole/bin/Debug/img/*
/WizardTestConsole/bin/Debug/FuzzySharp.dll
/WizardTestConsole/bin/Debug/items_cache.json
/WizardTestConsole/bin/Debug/last_fetch_time.txt
/WizardTestConsole/bin/Debug/Microsoft.Bcl.AsyncInterfaces.dll
/WizardTestConsole/bin/Debug/Microsoft.Bcl.AsyncInterfaces.xml
/WizardTestConsole/bin/Debug/Newtonsoft.Json.Bson.dll
/WizardTestConsole/bin/Debug/Newtonsoft.Json.Bson.pdb
/WizardTestConsole/bin/Debug/Newtonsoft.Json.Bson.xml
/WizardTestConsole/bin/Debug/Newtonsoft.Json.dll
/WizardTestConsole/bin/Debug/Newtonsoft.Json.xml
/WizardTestConsole/bin/Debug/quests_cache.json
/WizardTestConsole/bin/Debug/System.Buffers.dll
/WizardTestConsole/bin/Debug/System.Buffers.xml
/WizardTestConsole/bin/Debug/System.Memory.dll
/WizardTestConsole/bin/Debug/System.Memory.xml
/WizardTestConsole/bin/Debug/System.Net.Http.Formatting.dll
/WizardTestConsole/bin/Debug/System.Net.Http.Formatting.xml
/WizardTestConsole/bin/Debug/System.Numerics.Vectors.dll
/WizardTestConsole/bin/Debug/System.Numerics.Vectors.xml
/WizardTestConsole/bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
/WizardTestConsole/bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
/WizardTestConsole/bin/Debug/System.Text.Encodings.Web.dll
/WizardTestConsole/bin/Debug/System.Text.Encodings.Web.xml
/WizardTestConsole/bin/Debug/System.Text.Json.dll
/WizardTestConsole/bin/Debug/System.Text.Json.xml
/WizardTestConsole/bin/Debug/System.Threading.Tasks.Extensions.dll
/WizardTestConsole/bin/Debug/System.Threading.Tasks.Extensions.xml
/WizardTestConsole/bin/Debug/System.ValueTuple.dll
/WizardTestConsole/bin/Debug/System.ValueTuple.xml
/WizardTestConsole/bin/Debug/tasks_cache.json
/WizardTestConsole/bin/Debug/WizardTestConsole.exe
/WizardTestConsole/bin/Debug/WizardTestConsole.exe.config
/WizardTestConsole/bin/Debug/WizardTestConsole.pdb
